.footer {
  padding: 19px 0 7px 0;
}

.footer-light {
  background: #7d7670;
}

.footer-dark {
  background: #403b37;
}

.holder-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}