html {
  box-sizing: border-box;
  font: 16px/1.6 'Helvetica LT Std', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

* a {
  text-decoration: none;
  color: #4f4f52; }

* svg {
  fill: currentcolor; }

ul {
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5 {
  margin: 0; }

form,
fieldset {
  border: none;
  padding: 0;
  margin: 0; }

ul {
  padding-left: 0; }

li {
  list-style: none; }

.wrapper {
  position: relative;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto; }

.container-top {
  position: relative;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 1070px;
  display: flex;
  flex-direction: column; }

.container-about-us {
  max-width: 870px;
  padding: 0 30px;
  margin: 0 auto; }

.container-contact-us {
  max-width: 1062px;
  padding: 0 30px;
  margin: 0 auto; }

@font-face {
  font-family: 'Adobe Garamond Pro Bold';
  src: url("../fonts/AGaramondPro-Bold.woff2") format("woff2"), url("../fonts/AGaramondPro-Bold.woff") format("woff"), url("../fonts/AGaramondPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url("../fonts/AGaramondPro-Regular.woff2") format("woff2"), url("../fonts/AGaramondPro-Regular.woff") format("woff"), url("../fonts/AGaramondPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LT Std';
  src: url("../fonts/HelveticaLTStd-Light.woff2") format("woff2"), url("../fonts/HelveticaLTStd-Light.woff") format("woff"), url("../fonts/HelveticaLTStd-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
.header {
  padding-top: 20px; }

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.socials ul {
  display: flex;
  margin: 0 -10px; }
.socials li {
  display: inline-block;
  margin: 0 10px; }
.socials a {
  display: flex;
  width: 47px;
  height: 47px;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  border: 1px solid transparent; }
  .socials a:hover {
    border: 1px solid #ffffff; }

.location {
  font-size: 14px;
  color: #fff;
  position: relative;
  padding-left: 61px; }
  .location::before {
    content: '';
    position: absolute;
    background: url("../imsges/placeholder.png") center center no-repeat;
    top: 50%;
    left: 0;
    width: 47px;
    height: 47px;
    transform: translateY(-50%);
    border: 1px solid #fff;
    cursor: pointer; }

.bottom-header {
  padding-top: 14px; }

.navbar-nav {
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 2px 0; }
  .navbar-nav li {
    display: inline-block;
    min-width: 108px;
    text-align: center;
    margin: 0 25px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: .3s all; }
    .navbar-nav li:hover, .navbar-nav li.active {
      border-top: 2px solid #d3a929;
      border-bottom: 2px solid #d3a929; }
    .navbar-nav li.active a {
      color: #d3a929; }
    .navbar-nav li:hover a {
      color: #d3a929; }
  .navbar-nav a {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    padding: 18px 0;
    transition: .3s all; }

.section {
  padding-top: 100px; }

.section-heading {
  display: flex;
  justify-content: center; }

.section-title {
  font-size: 50px;
  color: #333;
  text-transform: uppercase;
  font-family: 'Adobe Garamond Pro', sans-serif;
  position: relative; }
  .section-title::before {
    content: '';
    position: absolute;
    width: 139px;
    height: 2px;
    background: #9b9b9b;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.light-header {
  background: url("../imsges/ginger-bakery-02-1-1920x1280.jpg") no-repeat;
  background-size: cover;
  position: relative; }
  .light-header::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35); }

.dark-header {
  background: url("../imsges/ginger-bakery-02-1-1920x1280.jpg") no-repeat;
  background-size: cover;
  position: relative; }
  .dark-header::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.55); }

.dark-about-us {
  background-color: #6a635d; }
  .dark-about-us .nav-about-us {
    display: none; }
  .dark-about-us .section-title {
    color: #fff; }
  .dark-about-us .card-quality .card-top::before {
    background: url("../imsges/cereal2.png") no-repeat; }
  .dark-about-us .card-experience .card-top::before {
    background: url("../imsges/medal2.png") no-repeat; }
  .dark-about-us .card-team .card-top::before {
    background: url("../imsges/team2.png") no-repeat; }
  .dark-about-us .card-description {
    color: #fff; }

.section-our-products-dark .product-holder {
  background: #6a635d; }
.section-our-products-dark .title-tabs {
  color: #fff; }
.section-our-products-dark .tab {
  color: #fff; }
.section-our-products-dark .product-title,
.section-our-products-dark .recipe-product {
  color: #fff; }

.section-contact-us-dark {
  padding: 120px 0;
  background: url("../imsges/bottom-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }
  .section-contact-us-dark::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.55); }
  .section-contact-us-dark .section-title {
    color: #fff; }
  .section-contact-us-dark .about-us-text {
    color: #fff; }
  .section-contact-us-dark .btn-contact-us {
    color: #fff;
    border: 1px solid #fff; }
    .section-contact-us-dark .btn-contact-us:hover {
      background: rgba(0, 0, 0, 0.4);
      color: #d3a929; }

.choose-color {
  display: flex;
  font-size: 26px;
  justify-content: center; }

.section-slider {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: 'Adobe Garamond Pro', sans-serif;
  margin-top: -75px; }

.about-product {
  font-size: 100px; }

.color-scheme {
  padding-right: 15px; }

.cards-holder {
  padding: 70px 0 40px 0;
  display: flex;
  justify-content: space-between; }

.card-quality .card-top {
  position: relative;
  padding-bottom: 17px; }
  .card-quality .card-top::before {
    content: '';
    position: absolute;
    top: 56px;
    left: 58px;
    width: 75px;
    height: 75px;
    background: url("../imsges/cereal.png") no-repeat; }

.card-experience .card-top {
  position: relative;
  padding-bottom: 17px; }
  .card-experience .card-top::before {
    content: '';
    position: absolute;
    top: 58px;
    left: 71px;
    width: 54px;
    height: 70px;
    background: url("../imsges/medal.png") no-repeat; }

.card-team .card-top {
  position: relative;
  padding-bottom: 17px; }
  .card-team .card-top::before {
    content: '';
    position: absolute;
    top: 65px;
    left: 66px;
    width: 76px;
    height: 56px;
    background: url("../imsges/team.png") no-repeat; }
.card-team .card-description {
  max-width: 120px;
  margin: 0 auto;
  line-height: 1.4; }

.card-body {
  text-align: center; }

.card-description {
  font-size: 26px;
  font-family: 'Adobe Garamond Pro', sans-serif;
  color: #333; }

.nav-about-us {
  position: relative;
  z-index: 2; }
  .nav-about-us::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 5px 14px rgba(37, 40, 44, 0.18);
    z-index: -1; }

.section-our-products {
  padding: 110px 0;
  background: #f8f8f7; }

.product-holder {
  margin-top: 75px;
  background: #fff;
  padding-top: 40px;
  position: relative; }

#tabs {
  font-size: 0; }
  #tabs li {
    display: inline-block;
    border-bottom: 2px solid #ebebe8;
    font-size: 0; }
    #tabs li + li {
      padding: 0 70px; }
    #tabs li:last-child {
      padding: 0; }

.title-tabs {
  font-size: 20px;
  font-family: 'Adobe Garamond Pro', sans-serif;
  text-transform: uppercase;
  color: #333;
  padding-right: 110px; }

.tab {
  font-size: 19px;
  text-transform: uppercase;
  padding: 12px 0;
  display: inline-block;
  outline: none;
  min-width: 155px;
  text-align: center; }

.tab-list {
  margin: 0 -35px; }

.ui-state-active a,
.ui-state-hover a {
  color: #d3a929;
  position: relative; }
  .ui-state-active a::before,
  .ui-state-hover a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 155px;
    background: #d3a929;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%); }

.product-title {
  font-size: 26px;
  color: #333; }

.recipe-product {
  color: #333;
  font-size: 14px; }
  .recipe-product p {
    margin-bottom: 0; }
  .recipe-product span {
    display: block; }

.tab-top-holder {
  display: flex;
  justify-content: center;
  align-items: center; }

.slick-initialized .slide-item {
  display: flex;
  justify-content: flex-end;
  padding: 69px 65px 79px 45px; }

.description-product {
  max-width: 432px;
  margin-left: 137px; }

.image-product {
  max-width: 200px;
  height: 325px;
  overflow: hidden; }
  .image-product img {
    min-width: 100%;
    min-height: 100%; }

.section-contact-us {
  padding: 120px 0;
  background: url("../imsges/bottom-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }
  .section-contact-us::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.55); }

.about-us-text {
  font-size: 14px;
  color: #333;
  position: relative;
  padding: 53px 0; }

.footer {
  padding: 19px 0 7px 0; }

.footer-light {
  background: #7d7670; }

.footer-dark {
  background: #403b37; }

.holder-footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.btn-radio {
  position: relative;
  padding: 0 20px 0 28px;
  color: #fff; }

.btn-radio:before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid #fff;
  background: #fff; }

.btn-radio.active:before {
  background: #d3a929; }

.subscribe {
  position: relative;
  text-align: center; }

.btn-contact-us {
  font-family: 'Adobe Garamond Pro Bold', sans-serif;
  color: #333;
  text-transform: uppercase;
  border: 1px solid #333;
  padding: 20px 80px;
  display: inline-block;
  transition: .2s all; }
  .btn-contact-us:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #d3a929; }

.section-slider .slick-prev,
.section-slider .slick-next {
  width: 52px;
  height: 52px;
  z-index: 1001;
  transition: .2s all; }

.section-slider .slick-prev {
  background: url("../imsges/prev-arrow.png") no-repeat; }
  .section-slider .slick-prev::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top: 19px;
    left: 22px;
    transform: rotate(45deg);
    opacity: 1; }
  .section-slider .slick-prev:hover {
    background: url("../imsges/next-arrow.png") no-repeat; }

.section-slider .slick-next {
  background: url("../imsges/next-arrow.png") no-repeat; }
  .section-slider .slick-next::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top: 19px;
    right: 22px;
    transform: rotate(-45deg);
    opacity: 1; }
  .section-slider .slick-next:hover {
    background: url("../imsges/prev-arrow.png") no-repeat; }

.section-our-products .slick-prev,
.section-our-products .slick-next {
  width: 52px;
  height: 52px;
  transition: .2s all; }

.section-our-products .slick-prev {
  background: url("../imsges/prev-cyc-yellow.png") no-repeat;
  left: 22%; }
  .section-our-products .slick-prev::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-left: 2px solid #9b9b9b;
    border-bottom: 2px solid #9b9b9b;
    top: 19px;
    left: 22px;
    transform: rotate(45deg);
    opacity: 1; }
  .section-our-products .slick-prev:hover {
    background: url("../imsges/next-cyc-yellow.png") no-repeat; }

.section-our-products .slick-next {
  background: url("../imsges/next-cyc-yellow.png") no-repeat;
  right: 47%; }
  .section-our-products .slick-next::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-right: 2px solid #9b9b9b;
    border-bottom: 2px solid #9b9b9b;
    top: 19px;
    right: 22px;
    transform: rotate(-45deg);
    opacity: 1; }
  .section-our-products .slick-next:hover {
    background: url("../imsges/prev-cyc-yellow.png") no-repeat; }

#tabs-1
#tabs-2
#tabs-3 {
  position: relative; }

.appendArrows {
  position: absolute;
  height: 52px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3000; }

/*# sourceMappingURL=main.css.map */
