//MAIN-SECTION

.light-header {
  background: url("../imsges/ginger-bakery-02-1-1920x1280.jpg") no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .35);
  }
}

//ELEMENT DARK-THEME

.dark-header {
  background: url("../imsges/ginger-bakery-02-1-1920x1280.jpg") no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .55);
  }
}

// END ELEMENT DARK-THEME



.choose-color {
  display: flex;
  font-size: 26px;
}

.section-slider {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Adobe Garamond Pro', sans-serif;
  margin-top: -75px;
}

.about-product {
  font-size: 100px;
}

.color-scheme {
  padding-right: 15px;
}
