//MAIN-SECTION

.section {
  padding-top: 100px;
}

.section-heading {
  display: flex;
  justify-content: center;
}

.section-title {
  font-size: 50px;
  color: #333;
  text-transform: uppercase;
  font-family: 'Adobe Garamond Pro', sans-serif;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 139px;
    height: 2px;
    background: #9b9b9b;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.light-header {
  background: url("../imsges/ginger-bakery-02-1-1920x1280.jpg") no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .35);
  }
}

//ELEMENT DARK-THEME

.dark-header {
  background: url("../imsges/ginger-bakery-02-1-1920x1280.jpg") no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .55);
  }
}

// END ELEMENT DARK-THEME



.choose-color {
  display: flex;
  font-size: 26px;
  justify-content: center;
}

.section-slider {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: 'Adobe Garamond Pro', sans-serif;
  margin-top: -75px;
}

.about-product {
  font-size: 100px;
}

.color-scheme {
  padding-right: 15px;
}

.cards-holder {
  padding: 70px 0 40px 0;
  display: flex;
  justify-content: space-between;
}

.card-quality .card-top {
  position: relative;
  padding-bottom: 17px;
  &::before {
    content: '';
    position: absolute;
    top: 56px;
    left: 58px;
    width: 75px;
    height: 75px;
    background: url("../imsges/cereal.png") no-repeat;
  }
}

.card-experience .card-top {
  position: relative;
  padding-bottom: 17px;
  &::before {
    content: '';
    position: absolute;
    top: 58px;
    left: 71px;
    width: 54px;
    height: 70px;
    background: url("../imsges/medal.png") no-repeat;
  }
}

.card-team {
  .card-top {
    position: relative;
    padding-bottom: 17px;
    &::before {
      content: '';
      position: absolute;
      top: 65px;
      left: 66px;
      width: 76px;
      height: 56px;
      background: url("../imsges/team.png") no-repeat;
    }
  }
  .card-description {
    max-width: 120px;
    margin: 0 auto;
    line-height: 1.4;

  }
}

.card-body {
  text-align: center;
}

.card-description {
  font-size: 26px;
  font-family: 'Adobe Garamond Pro', sans-serif;
  color: #333;
}

.nav-about-us {
  position: relative;
  z-index: 2;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 5px 14px rgba(37, 40, 44, 0.18);
    z-index: -1;
  }
}

.section-our-products {
  padding: 110px 0;
  background: #f8f8f7;
}

.product-holder {
  margin-top: 75px;
  background: #fff;
  padding: 40px 60px 60px 45px;
}

#tabs {
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  li {
    display: inline-block;
    border-bottom: 2px solid #ebebe8;
    font-size: 0;
    &+li {
      padding: 0 70px;
    }
    &:last-child {
      padding: 0;
    }
  }
}

.title-tabs {
  font-size: 20px;
  font-family: 'Adobe Garamond Pro', sans-serif;
  text-transform: uppercase;
  color: #333;
  padding-right: 110px;
}

.tab {
  font-size: 19px;
  text-transform: uppercase;
  padding: 12px 0;
  display: inline-block;
  outline: none;
  min-width: 155px;
  text-align: center;
}

.tab-list {
  margin: 0 -35px;
}

.ui-state-active,
.ui-state-hover {
  a {
    color: #d3a929;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 155px;
      background: #d3a929;
      bottom: -2px;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.product-title {
  font-size: 26px;
  color: #333;
}

.recipe-product {
  color: #333;
  font-size: 14px;
}
